h1{
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
    border-width: 3px;
}


h2 {
    color: blue;
}
body {
font-family: "Times New Roman", Times, serif;
background-color: 666666;
text-align: center;}

div{
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
    border-width: 3px;
}

img{
    box-shadow: 7px -7px 6px 6px grey;
    border-radius: 25px;
}
